.nav-brand {
  font-size: 24px;
  font-weight: 400;
}
.nav-brand span {
  font-weight: 700;
  color: orange;
}

/* --------------------
media query for small devices
-------------------- */
@media screen and (max-width: 688px) {
  .nav-brand {
    font-size: 16px;
    font-weight: 400;
  }
}
