.banner {
  background-image: url(../../../assets/images/banner.jpg);
  min-height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  display: flex;
  align-items: center;
}
