@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* reset all default styles (margin, padding) */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body styles */
body {
  font-family: "Roboto", sans-serif;
}
